$brand-warning:#EB6C36;
$orange-color:#E8663C;
$shadow-color: #F3B29D;
$gray-color: #BCBCBC;
$black-color:#000000;
$brand-primary:#FFFFFF;
$gray-lighter:#F2F2F2;
$link-color: $brand-primary;  
$link-hover-decoration: none;
$font-size-base: 16px;
$font-size-h4:21px;

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600italic,700,300);
$font_family_open:Open Sans;

